<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper下namespace命名为其接口的全路径   -->
<mapper  namespace="dao.SortDao">
<!-- 查找类型 -->
<select id="findtype"  resultType="sort" >
    select * from tb_sort
</select>



</mapper>